#----------------------------------------------------------------------
# Autor: Pedro Sanchez Ramirez
# Email: mrchunckuee.psr@gmail.com
#----------------------------------------------------------------------

#----------------------------------------------------------------------
# Ignorar archivos de compilación XC8/C18
MCE_Logos.pretty

